<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../static/js/jquery-1.12.4.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="">
   <button type="button" id="bt1" > GetData</button>
 {% csrf_token %}
</form>

</body>
<script language="JavaScript">
     $("#bt1").click(function() {
         alert("msg");
      $.ajax({
        url: '/getnewslist/',
        data:{},
        type: 'GET',
        dataType: 'json',
        success: function (data, textStatus) {
            console.log(data);
        },
      });
    });

</script>
</html>
